<h1>Editing Personal Info</h1>

<%= render 'form', personal_info: @personal_info %>

<!--%= link_to 'Show', @personal_info %-->
<!--%= link_to 'Back', personal_infos_path %-->

<%= link_to 'Back to Profile', :controller => :users, :action => :show %>
