body {
   font-family: Times, Arial, Helvetica, sans-serif;
   font-size: medium;
   font-color: #150;
   background-color: #0CC;
}

a:link, a:active, a:visited {
   color: red;
   text-decoration: underline;
}

input { 
   margin-bottom: 5px;
}

p { 
   line-height: 250%;
}

div#container {
   width: 860px;
   margin: 0 auto;
}

div#title {
  text-align: center;
  text-decoration: underline;
}

div#header {
   text-align: left;
   text-indent: 30px;
   padding-bottom: 20px;
}

div#image {
  margin-top: 0px;
  margin-bottom: 0px; 
  margin-left: 250px;
  margin-right: 100px;
}

div#content {
   float: left;
   width: 450px;
   padding: 10px;
}

div#content h3 {
   margin-top: 15px;
}

div#sidebar {
   margin-left: 0px;
   margin-right: 500px;
   text-decoration: underline;
   color: black;
}

div#form {
  
}
