<br>
<br>
<!-- row 1 -->
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
        <p>Name</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
        <p>Stats</p>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
        <p>Graph</p>
            </div>
        </div>
    </div>
</div>
<!-- row 2 -->
<div class="row">
    <% for p in @posts %>
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
               <p> <%= image_tag(@post.image.url(:medium)) %>
                <br>
                <%= @post.description %>
                </p>
            </div>
        </div>
    </div>
    <% end %>
</div>
