
<!-- Title/Links Row -->
<br>
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="http://localhost:3000/personal_infos/new"><h6>Add Personal Information</h6></a>
                
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Workout Routines</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
             <a href="http://localhost:3000/personal_infos/edit"><h6>Update Personal Information</h6></a>
            </div>
        </div>
    </div>
</div>
<!-- Workout Routines Row 1-->
<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
               <a href="https://www.bodybuilding.com/content/beginner-chest-training-guide.html" target="_blank"> <img src="../assets/portfolio/Chest2.jpg" alt="Chest"/> </a>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
               <a href="https://www.bodybuilding.com/fun/cable-ready-abs-10-cable-based-ab-workouts.html" target="_blank"> <img src="../assets/portfolio/Abs2.jpg" alt="Abs"/> </a>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
               <a href="https://www.bodybuilding.com/content/arm-workouts-for-men-5-biceps-blasts.html" target="_blank"> <img src="../assets/portfolio/Arms2.jpg" alt="Arms"/> </a>
               </a>
            </div>
        </div>
    </div>
</div>
<!-- Workout Routines Row 2 -->
<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
               <a href="https://www.bodybuilding.com/content/5-best-shoulder-workouts-for-mass-an-intermediate-guide.html" target="_blank"> <img src="../assets/portfolio/Shoulders2.jpg" alt="Shoulders"/> </a>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
               <a href="https://www.bodybuilding.com/content/5-back-workouts-for-mass-a-beginners-guide.html" target="_blank"> <img src="../assets/portfolio/Back2.jpg" alt="Back"/> </a>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
               <a href="https://www.bodybuilding.com/content/5-leg-workouts-for-mass-a-beginners-guide.html" target="_blank"> <img src="../assets/portfolio/Legs2.jpg" alt="Legs"/> </a>
               </a>
            </div>
        </div>
    </div>
</div>
<!-- Title/Links Row -->
<br>
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="http://localhost:3000/posts/new"><h6>Add Post</h6>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Posts</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
             <h6 style="font-family:cursive;">NEVER GIVE UP </h6>
            </div>
        </div>
    </div>
</div>
<!-- Posts Row -->
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <% @posts.each do |x| %>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <%= image_tag(x.image.url(:medium)) %>
                        <br>
                            <%= x.description %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

