
<!-- row 1 -->
<br>
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Name</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Stats</p>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
             <p>Graph</p>
            </div>
        </div>
    </div>
</div>
<!-- row 2 -->
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
               <p> Posts will go here  </p>
            </div>
        </div>
    </div>
</div>
<!-- row 3 -->
<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
               <a href="https://www.bodybuilding.com" target="_blank"> <img src="../assets/portfolio/Shoulders.jpg" alt="Shoulders"/>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
               <a href="https://www.bodybuilding.com" target="_blank"> <img src="../assets/portfolio/Back.jpg" alt="Back"/>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
               <a href="https://www.bodybuilding.com" target="_blank"> <img src="../assets/portfolio/Legs.jpg" alt="Legs"/>
               </a>
            </div>
        </div>
    </div>
</div>