<h1>Ab Workouts that Rock</h1>
<br>
<br>
<div class="row">
 	<div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 style="font-family:courier ;"> "Pain is temporary. Quitting lasts forever"</h3>
                <h5> - Lance Armstrong </h5>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
            	<h3 style="font-family:cursive;"> Exercise Instructions </h3>
                <br>
				<ol>
				<h4><li><a href="https://www.youtube.com/watch?v=Xyd_fa5zoEU">Crunches</a></li></h4> 
				<br>
				<h4><li><a href="https://www.youtube.com/watch?v=mqUkogOPY_U">Flutter Kicks</a></li></h4>
				</ol>
  			</div>
        </div>
    </div>
 	<div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 style="font-family:cursive;"> Goals </h3>
                <h6 style="font-family: courier;"> Recommended by Professionals </h6>
                <br>
                <p> Crunches: 5 sets of 30 reps  </p>
                <p> Flutter Kicks: 5 sets of 5 (20 lbs) </p>
            </div>
        </div>
    </div>
</div>
<!-- Performance Row  -->
<div class="row">
 	<div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 style="font-family:cursive;"> Performance </h4>
            </div>
        </div>
    </div>
 	<div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="../assets/AbsExercise"> 
            </div>
        </div>
    </div>
</div>
 <!--<a href="https://www.youtube.com/watch?v=sRfz01j3U4o">Scissor Kicks</a>
 <a href="https://www.youtube.com/watch?v=ASdvN_XEl_c">Planks</a>
 <a href="https://www.youtube.com/watch?v=B-9QogJushQ">V Up Rotations</a>
 <a href="https://www.youtube.com/watch?v=MUoUeS-R6K8">L Sit</a>
 <a href="https://www.youtube.com/watch?v=1we3bh9uhqY">Bicycle</a>
 <a href="https://www.youtube.com/watch?v=iP2fjvG0g3w">V Up</a>-->

