<!DOCTYPE html>
<html>
<body>

<h1>Bicepts</h1>

 <a href="https://www.youtube.com/watch?v=varypr1VY0w">Barbell Curl</a> 
 <!--<a href="https://www.youtube.com/watch?v=E6VMg0E9JpE">Bicept Curl</a>
 <a href="https://www.youtube.com/watch?v=5qK49Rr1THo">Reverse Grip Bentover Row</a>
 <a href="https://www.youtube.com/watch?v=Kxt_5D2Rpgg">Decline Barbell Bench Press</a>
 <a href="https://www.youtube.com/watch?v=d2fj2Js1vRI">Seated Machine Chest Press</a>-->
 

 <h1>Tricepts</h1>

 <a href="https://www.youtube.com/watch?v=d_KZxkY_0cM">Skull Crushers</a>
 <!--<a href="https://www.youtube.com/watch?v=d2fj2Js1vRI">Seated Machine Chest Press</a>
 <a href="https://www.youtube.com/watch?v=sM6XUdt1rm4">Dips- Target Chest/Tricepts</a>
 <a href="https://www.youtube.com/watch?v=Eh00_rniF8E">Push Ups</a>
 <a href="https://www.youtube.com/watch?v=T4okLh2eppw">Dumbell Fly</a>-->

</body>
</html>
