
<!DOCTYPE html>
<html>
<body>

<h1>Back Workouts</h1>

 <ul>
 <li><a href="https://www.youtube.com/watch?v=JEb-dwU3VF4">Lat Pulldown</a></li> 
 <li><a href="https://www.youtube.com/watch?v=GZbfZ033f74">Seated Row</a></li>
 <!--<a href="https://www.youtube.com/watch?v=sRfz01j3U4o">Scissor Kicks</a>
 <a href="https://www.youtube.com/watch?v=ASdvN_XEl_c">Planks</a>
 <a href="https://www.youtube.com/watch?v=B-9QogJushQ">V Up Rotations</a>
 <a href="https://www.youtube.com/watch?v=MUoUeS-R6K8">L Sit</a>
 <a href="https://www.youtube.com/watch?v=1we3bh9uhqY">Bicycle</a>
 <a href="https://www.youtube.com/watch?v=iP2fjvG0g3w">V Up</a>-->
 </ul>

</body>
</html>
