
<!DOCTYPE html>
<html>
<body>

<h1>Chest Workouts that rock</h1>

 <ul>
 <li><a href="https://www.youtube.com/watch?v=rT7DgCr-3pg">Barbell Bench Press</a></li> 
 <li><a href="https://www.youtube.com/watch?v=6u3T_dYWWPU">Flat Bench Dumbbell Press</a></li>
 <!--<a href="https://www.youtube.com/watch?v=29Ib02KSCj4">Incline Barbell Bench Press</a>
 <a href="https://www.youtube.com/watch?v=Kxt_5D2Rpgg">Decline Barbell Bench Press</a>
 <a href="https://www.youtube.com/watch?v=d2fj2Js1vRI">Seated Machine Chest Press</a>
 <a href="https://www.youtube.com/watch?v=sM6XUdt1rm4">Dips- Target Chest/Tricepts</a>
 <a href="https://www.youtube.com/watch?v=Eh00_rniF8E">Push Ups</a>
 <a href="https://www.youtube.com/watch?v=T4okLh2eppw">Dumbell Fly</a>-->
 </ul>

</body>
</html>
