<h1>Chest Workouts that Rock</h1>
<br>
<br>
<div class="row">
 	<div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 style="font-family:courier ;"> "Pain is temporary. Quitting lasts forever"</h3>
                <h5> - Lance Armstrong </h5>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
            	<h3 style="font-family:cursive;"> Exercise Instructions </h3>
                <br>
 				<ol>
 				<h4><li><a href="https://www.youtube.com/watch?v=rT7DgCr-3pg">Barbell Bench Press</a></li></h4>
 				<br> 
 				<h4><li><a href="https://www.youtube.com/watch?v=6u3T_dYWWPU">Flat Bench Dumbbell Press</a></li></h4>
 				</ol>
 			</div>
        </div>
    </div>
 	<div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 style="font-family:cursive;"> Goals </h3>
                <h6 style="font-family: courier;"> Recommended by Professionals </h6>
                <br>
                <p> Barbell Bench Press: 5 sets of 5 (30 lbs) </p>
                <p> Flat Bench Dumbbell Press: 5 sets of 5 (20 lbs) </p>
            </div>
        </div>
    </div>
</div>
<!-- Performance Row  -->
<div class="row">
 	<div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 style="font-family:cursive;"> Performance </h4>
            </div>
        </div>
    </div>
 	<div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="../assets/bench.jpg"> 
            </div>
        </div>
    </div>
</div>
 <!--<a href="https://www.youtube.com/watch?v=29Ib02KSCj4">Incline Barbell Bench Press</a>
 <a href="https://www.youtube.com/watch?v=Kxt_5D2Rpgg">Decline Barbell Bench Press</a>
 <a href="https://www.youtube.com/watch?v=d2fj2Js1vRI">Seated Machine Chest Press</a>
 <a href="https://www.youtube.com/watch?v=sM6XUdt1rm4">Dips- Target Chest/Tricepts</a>
 <a href="https://www.youtube.com/watch?v=Eh00_rniF8E">Push Ups</a>
 <a href="https://www.youtube.com/watch?v=T4okLh2eppw">Dumbell Fly</a>-->
