<h1>Shoulders</h1>
<br>
<br>

 <ol>
 <h4><li><a href="https://www.youtube.com/watch?v=oBGeXxnigsQ">Shoulder Press</a></li><h4>
 <br> 
 <h4><li><a href="https://www.youtube.com/watch?v=asgla5Zg-co">Shoulder Flys</a></li></h4>
 <!--<a href="https://www.youtube.com/watch?v=sRfz01j3U4o">Scissor Kicks</a>
 <a href="https://www.youtube.com/watch?v=ASdvN_XEl_c">Planks</a>
 <a href="https://www.youtube.com/watch?v=B-9QogJushQ">V Up Rotations</a>
 <a href="https://www.youtube.com/watch?v=MUoUeS-R6K8">L Sit</a>
 <a href="https://www.youtube.com/watch?v=1we3bh9uhqY">Bicycle</a>
 <a href="https://www.youtube.com/watch?v=iP2fjvG0g3w">V Up</a>-->
 </ol>
